<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <h1>borrowed books</h1>
    
    <br><br>

    

    <a href="/blog"><b>blog</b></a>
    

    <br><br>

    <ol start="1">
        <li>nameOfBook-author</li>
        <li>nameOfBook-author</li>
        <li>nameOfBook-author</li>
        <li>nameOfBook-author</li>
        <li>nameOfBook-author</li>
        <li>nameOfBook-author</li>
        <li>nameOfBook-author</li>
    </ol>

    <a href="borrow.html" class="button">take new</a>

    
</body>
</html>